<h1>Task</h1>
<table>
<head>
  <th>投稿者</th>
  <th>タスク名</th>
  <th>詳細</th>
</head>

<body>
<% @tasks.each do |t| %>
  <tr>
  <td>投稿者の名前</td>
  <td><<%= t.title %>/td>
  <td><<%= t.content %>/td>
  <td></td>
  </tr>
<% end %>
</body>
</table>